Binaries/
Intermediate/
Saved/
ProjectName.opensdf
ProjectName.sdf
ProjectName.sln
ProjectName.v12.suo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
